<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imagesUrl</key>
	<string>https://pixabay.com/api/</string>
	<key>videosUrl</key>
	<string>https://pixabay.com/api/videos/</string>
</dict>
</plist>
